.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

.search__content {
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-color-gray);
    border-radius: 30px;
    width: 95%;
}

.search__btn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
}

.search__input {
    width: 90%;
    height: 35px;
    padding: 0 0 0 5px;
    background: none;
    border: none;
    outline: none;
}

.search__input::placeholder {
    font-size: 1rem;
    font-weight: 300;
}

.search__input::-moz-placeholder {
    font-size: 1rem;
    font-weight: 300;
}